################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basic_C#_Programs/CarInsurance/CarInsurance/CarInsurance/bin
