################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basic_C#_Programs/CarInsurance/CarInsurance/CarInsurance/bin
/Basic_C#_Programs/CarInsurance/CarInsurance/CarInsurance/obj/Debug
/Basic_C#_Programs/CarInsurance/CarInsurance/CarInsurance/Scripts
/Basic_C#_Programs/CarInsurance/CarInsurance/packages
/Basic_C#_Programs/IntroToMVC/IntroToMVC/IntroToMVC/bin
/Basic_C#_Programs/IntroToMVC/IntroToMVC/IntroToMVC/obj/Debug
/Basic_C#_Programs/IntroToMVC/IntroToMVC/IntroToMVC/Scripts
/Basic_C#_Programs/IntroToMVC/IntroToMVC/packages
/Basic_C#_Programs/IntroToWebForms/IntroToWebForms/IntroToWebForms/bin
/Basic_C#_Programs/IntroToWebForms/IntroToWebForms/IntroToWebForms/obj/Debug
/Basic_C#_Programs/IntroToWebForms/IntroToWebForms/IntroToWebForms/Scripts
/Basic_C#_Programs/IntroToWebForms/IntroToWebForms/packages
/Basic_C#_Programs/MvcTutorial/MvcTutorial/MvcTutorial/bin
/Basic_C#_Programs/MvcTutorial/MvcTutorial/MvcTutorial/obj/Debug
/Basic_C#_Programs/MvcTutorial/MvcTutorial/MvcTutorial/Scripts
/Basic_C#_Programs/MvcTutorial/MvcTutorial/packages
/Basic_C#_Programs/TechAcadStudentsMVC/TechAcadStudentsMVC/packages
/Basic_C#_Programs/TechAcadStudentsMVC/TechAcadStudentsMVC/TechAcadStudentsMVC/bin
/Basic_C#_Programs/TechAcadStudentsMVC/TechAcadStudentsMVC/TechAcadStudentsMVC/obj/Debug
/Basic_C#_Programs/TechAcadStudentsMVC1/TechAcadStudentsMVC1/packages
/Basic_C#_Programs/TechAcadStudentsMVC1/TechAcadStudentsMVC1/TechAcadStudentsMVC1/bin
/Basic_C#_Programs/TechAcadStudentsMVC1/TechAcadStudentsMVC1/TechAcadStudentsMVC1/obj/Debug
/Basic_C#_Programs/TryCatchAssignment/TryCatchAssignment/TryCatchAssignment/bin/Debug
/Basic_C#_Programs/TryCatchAssignment/TryCatchAssignment/TryCatchAssignment/obj/Debug
